.language {
  float: left;
  width: 6rem;
  height: 6rem;
  padding-top: 2rem;
  text-align: center;        
  margin: 0.1rem;
  border-radius: 50%;              
  font-size: 0.9em;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 2px; 
}

.language span {
  font-weight: bold;
  font-size: 1.1em;
}

.vscode-dark .language {
  /* background: rgb(37,37,38); */
  color: #ddca7e;
  border-color: #424242;
}

.vscode-light .language {
  background: gray;
  color: blue;
  border-color: black;
}

sup {
  top: -.5em;
  font-size: 75%;
}

h3 {
  text-align: center;
}

img {
  float: left;
}